body {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-19670.jpg&fm=jpg");
  font-family: "Raleway", sans-serif !important;
}

i:hover {
  color: grey;
}

ul {
  display: block;
  list-style-type: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.summary-description {
  margin-bottom: 20px;
  color: #878787;
}

.main-row {
  margin-top: 10px;
}

.secondary-row {
  margin-left: 35px;
}

.WeatherForecastDay {
  margin-top: 20px;
}

.top-cities {
  color: #878787;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 60px;
}

.search-form {
  margin-top: 20px;
}

.chosen-city {
  font-size: solid 30px;
  color: #245fb7;
}

.side-chosen-city {
  margin-left: 50px;
}

.container-chosen-city {
  padding: 15px;
  margin: 50px auto;
  border: solid 2px #dbe8ed;
  border-radius: 15px;
}

.signature {
  font-size: 10px;
}

.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherInfoTopCity {
  text-align: center;
}

.top-city-temperature {
  font-size: 20px;
  margin-top: 6px;
}

.top-city-units {
  top: -14px;
}

.topCityTitle {
  color: #245fb7;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
}
